.venv/
__pycache__/
*.pyc
.env
*.pem
*.key
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars

terraform/tfplan

jenkins-deployment-policy.json
jenkins-trust-policy.json

github-actions-trust-policy.json
github-actions-ecr-policy.json
